.chart{
    flex: 4;
    box-shadow:  2px 4px 10px 1px rgba(201, 201, 201, .47);
    padding: 10px;
    color: gray;
    display: flex;
    flex-direction: column;

    h4{
        margin-bottom: 10px;
    }

    .chatGrid{
        stroke: rgb(220, 201, 201);
    }
}